<!-- footer of the Page -->
    <footer id="footer" class="wow fadeInUp" data-wow-delay="0.4s">
        <span class="free-ship">FREE SHIPPING</span>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-4 txt-holder">
                    <div class="footer-logo">
                        <a href="index.html">ry</a>
                    </div>
                    <p>Pharetra, erat sed fermentum<br> feugiat, velit mauris egestas<br> quam. </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <h3>contact us</h3>
                    <!-- Contact of the page -->
                    <ul class="list-unstyled contact-info">
                        <li><i class="icon icon-location"></i>
                            <address>Limited. 222-UTC , EU .</address>
                        </li>
                        <li><i class="icon icon-email"></i><a class="txt" href="#">Support@emtheme.com</a></li>
                        <li><i class="icon icon-phone"></i><a class="txt" href="#">(00)-213 1234567</a></li>
                        <li><i class="icon icon-printer"></i><a class="txt" href="#">(00)-213 1879017</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-5">
                    <h3>intagram feed</h3>
                    <!-- Instagram of the page -->
                    <ul class="list-unstyled instagram-list">
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                        <li><a href="#"><img src="http://placehold.it/95x70" alt="image description"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="support">24H SUPPORT</span>
    </footer>


    <!-- Back Top of the page -->
    <span id="back-top" class="arrow_carrot-up"></span>