{% load static %}
<!-- Bootstrap CSS -->
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<!-- Fontawesome CSS -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>

<!-- set the encoding of your site -->
  <meta charset="utf-8">
  <!-- set the viewport width and initial-scale on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MohsinMDL</title>
  <!-- include the site stylesheet -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'css/color/color.css' %}">
