{% load static %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
  <!-- include jQuery -->
<script src="{% static 'js/plugins.js' %}"></script>
  <!-- include jQuery -->
<script src="{% static 'js/jquery.main.js' %}"></script>