{% extends "base/base.html" %}
{% load static %}

{% block content %}

    {#    <div class="row">#}
    {#        <div class='col-12 col-md-6'>#}
    {#            <h1>{{ object.title }}</h1>#}
    {#            {{ object.timestamp|timesince }} ago#}
    {#            {{ object.description|linebreaks }}<br/>#}
    {#            {% if object.image %}#}
    {#                <img src='{{ object.image.url }}' class='img-fluid'/>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#        <div class='col-12 col-md-6'>#}
    {#            {% include 'products/snippets/update-cart.html' with product=object cart=cart %}#}
    {#        </div>#}
    {#    </div>#}




    <!-- main-banner of the page -->
    <section class="banner wow fadeInUp" data-wow-delay="0.4s"
             style="background-image: url({% static "images/img04.jpg" %});">
        <span class="sale-percent">SALE OF 50%</span>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="caption">
                        <h1 class="main-heading">Shop</h1>
                        <ul class="list-unstyled breadcrumbs">
                            <li><a href="{% url "home" %}">Home</a></li>
                            <li><a href="{% url "products:list" %}">shop</a></li>
                            <li>product</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span class="year">Trends for 2018</span>
    </section>
    <!-- product-detial of the page -->
    <section class="product-detial wow fadeInUp" data-wow-delay="0.4s">
        <!-- Slider of the page -->
        <div class="slider">
            <!-- Product Slider of the page -->
            <div class="img-holder product-slider">
                <!-- Slide of the page -->
                <div class="slide">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" alt="image descrption">
                    {% endif %}
                </div>
                <!-- Slide of the page -->
                <div class="slide">
                    <img src="http://placehold.it/960x925" alt="image descrption">
                </div>
                <!-- Slide of the page -->
                <div class="slide">
                    <img src="http://placehold.it/960x925" alt="image descrption">
                </div>
                <!-- Slide of the page -->
                <div class="slide">
                    <img src="http://placehold.it/960x925" alt="image descrption">
                </div>
            </div>
            <!-- Pagg Slide of the page -->
            <ul class="list-unstyled slick-slider pagg-slider">
                <li><img src="http://placehold.it/260x310" alt="image description"></li>
                <li><img src="http://placehold.it/260x310" alt="image description"></li>
                <li><img src="http://placehold.it/260x310" alt="image description"></li>
                <li><img src="http://placehold.it/260x310" alt="image description"></li>
            </ul>
        </div>
        <!-- Detail Holder of the page -->
        <div class="detial-holder">
            <h2>{{ object.title }}</h2>
            <span class="product-name">{{ object.timestamp|timesince }} ago</span>
            <!-- Rank Rating of the page -->
            <div class="rank-rating">
                <span class="total-price">$ {{ object.price }}</span>
                <ul class="list-unstyled rating-list">
                    <li><a class="icon-star" href="#"></a></li>
                    <li><a class="icon-star" href="#"></a></li>
                    <li><a class="icon-star" href="#"></a></li>
                    <li><a class="icon-star" href="#"></a></li>
                    <li><a class="icon-star" href="#"></a></li>
                </ul>
            </div>
            <p>{{ object.discription }}</p>
            <div class="txt-wrap">
                <div class="holder">
                    <span class="product">Product code</span>
                    <strong class="product-code">698309</strong>
                </div>
                <div class="holder">
                    <span class="size">Size</span>
                    <ul class="list-unstyled size-list">
                        <li><a href="#">s</a></li>
                        <li><a href="#">m</a></li>
                        <li><a href="#">l</a></li>
                        <li class="active"><a href="#">xl</a></li>
                    </ul>
                </div>
                <form action="#" class="product-form">
                    <fieldset>
                        <div class="row-val">
                            <label for="qty">qty</label>
                            <input type="text" id="qty" value="01">
                        </div>
                        <div class="row-val">
                            <label for="clr">color</label>
                            <select id="clr">
                                <option>gold</option>
                            </select>
                        </div>
                    </fieldset>
                </form>
                <div class="holder">
                    <ul class="list-unstyled list">
                        <li><a href="#"><i class="icon-favorite"></i> wish list</a></li>
                        <li><a href="#"><i class="icon_balance"></i> compare</a></li>
                    </ul>
                </div>
                {% include 'products/snippets/update-cart.html' with product=object cart=cart %}

                <!-- Social Network of the page -->
                <ul class="list-unstyled social-network">
                    <li><a class="icon-pinterest" href="#"></a></li>
                    <li><a class="icon-twitter" href="#"></a></li>
                    <li><a class="icon-facebook" href="#"></a></li>
                    <li><a class="icon-google-plus" href="#"></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- slider-section of the page -->
    {#      <section class="slider-sec wow fadeInUp" data-wow-delay="0.4s">#}
    {#        <ul class="list-unstyled slick-slider">#}
    {#          <li>#}
    {#            <div class="over">#}
    {#              <div class="align-left">#}
    {#                <strong class="title-name">Goldtone Bib</strong>#}
    {#                <strong class="price">$200</strong>#}
    {#              </div>#}
    {#              <a href="#" class="like">#}
    {#                <i class="icon-favorite"></i>#}
    {#                45#}
    {#              </a>#}
    {#            </div>#}
    {#            <a href="#"><img class="img-responsive" alt="image description" src="http://placehold.it/480x620"></a>#}
    {#          </li>#}
    {#          <li class="active">#}
    {#            <div class="over">#}
    {#              <div class="align-left">#}
    {#                <strong class="title-name">Goldtone Bib</strong>#}
    {#                <strong class="price">$120</strong>#}
    {#              </div>#}
    {#              <a href="#" class="like">#}
    {#                <i class="icon-favorite"></i>#}
    {#                23#}
    {#              </a>#}
    {#            </div>#}
    {#            <a href="#"><img class="img-responsive" alt="image description" src="http://placehold.it/480x620"></a>#}
    {#          </li>#}
    {#          <li>#}
    {#            <div class="over">#}
    {#              <div class="align-left">#}
    {#                <strong class="title-name">Goldtone Bib</strong>#}
    {#                <strong class="price">$120</strong>#}
    {#              </div>#}
    {#              <a href="#" class="like">#}
    {#                <i class="icon-favorite"></i>#}
    {#                23#}
    {#              </a>#}
    {#            </div>#}
    {#            <a href="#"><img class="img-responsive" alt="image description" src="http://placehold.it/480x620"></a>#}
    {#          </li>#}
    {#        </ul>#}
    {#      </section>#}

{% endblock %}

